name: TODO Scan After Merge

on:
  push:
    branches:
      - main

jobs:
  todo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: alstr/todo-to-issue-action@v5
        name: "TODO to Issue"
        with:
          IGNORE: "lib/charms/(?!kratos/).*"
